<div class="container">
    <div class="row">
        <div class="col-12" style="margin-top: 20px">
            <mat-card style="margin: 50px 0">
                <h1>Chi Tiết Sản Phẩm</h1>
                <table border="1" class="table">
                    <tr>
                        <td>STT</td>
                        <td>Tên</td>
                        <td>Giá</td>
                        <td>Mô tả</td>
                    </tr>
                    <tr>
                        <td>{{productView.id}}</td>
                        <td>{{productView.name}}</td>
                        <td>{{productView.price}}</td>
                        <td>{{productView.description}}</td>
                    </tr>
                </table>
            </mat-card>
        </div>
    </div>
</div>
